.blockNewTask {
    
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 50px;
    left: 80px;
    &__inputData {
        display: flex;
        flex-direction: column;
    }
    &__itemList {
        margin-bottom: 20px;
        input {
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }
    &__inputTitle {
        margin-left: 65px;
    }
    &__inputCreator {
        margin-left: 46px;
    }
    &__inputDescription {
        margin-left: 20px;
    }
    &__buttonAddToDo {
       position: relative;
       cursor: pointer;
       left: 120px;
       border: 1px solid greenyellow;
       width: 80px;
       height: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
       background: blueviolet;
       color: white;
       border-radius: 5px;
    }
}
.sideBar {
    position: absolute;
    border: 1px solid red;
    width: 120px;
    height: 500px;
    left: 395px;
    list-style-type: none;
    background: orange;
    &__topLeft {
        margin-top: 10px;
        margin-left: -37px;
        border-bottom: 1px solid white;
    }
    &__topLeft a {
        position: relative;
        text-decoration: none;
        margin-right: 2px;
    }
}
.blockItemTaskList {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 550px;
    width: 45%;
    height: 500px;
    border: 1px solid purple;
    list-style-type: none;
    border-radius: 5px;
    &__itemTaskList {
        position: relative;
        display: flex;
        flex-direction: column;
        border: 1px solid blue;
        width: 150px;
        height: 100px;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 8px;
    }
}
.blockSearchToDo {
    position: relative;
    display: flex;
    left: 550px;
    &__inputTitle {
        width: 200px;
        height: 25px;
    }   
    &__buttonSearchToDo {
        cursor: pointer;
       left: 120px;
       border: 1px solid greenyellow;
       width: 80px;
       height: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
       background: blueviolet;
       color: white;
       border-radius: 5px;
       margin-left: 10px;
    }
}

