@media only screen and (max-width: 1125px) {
    .blockNewTask {
        width: 350px;
        margin: 0 auto;
        position: relative;
        top: 50px;
        left: 200px;
    }
  }
  @media only screen and (max-width: 1064px) {
    .blockNewTask {
        width: 350px;
        margin: 0 auto;
        position: relative;
        top: 50px;
        left: 220px;
    }
  }
  @media only screen and (max-width: 1031px) {
    .blockNewTask {
        width: 350px;
        margin: 0 auto;
        position: relative;
        top: 50px;
        left: 250px;
    }
  }
  @media only screen and (max-width: 988px) {
    .blockNewTask {
        width: 350px;
        margin: 0 auto;
        position: relative;
        top: 50px;
        left: 280px;
    }
  }
  @media only screen and (max-width: 920px) {
    .blockNewTask {
        width: 350px;
        margin: 0 auto;
        position: relative;
        top: 50px;
        left: 300px;
    }
  }